<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/users.css">
        <script src="./js/users.js"></script>
    </head>
    <body>
        <h1>SAMPLE SERVER HTML TITLE</h1>
        <p><%= users[0].name %></p>
        <p><%= users[0].age %></p>
        <p><%= users[1].name %></p>
        <p><%= users[1].age %></p>
        <p><%= test.name %></p>
    </body>
</html>